.contact-area{
    .contact-form{
        input,textarea{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid $gray;
            &[type="submit"]{
                background-color: $primary_color;
                color: $white;
                font-size: 20px;
                border: 0;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    background-color: $black;
                }

            }
           
        }
    }
    .address-group{
      margin-left:20%;
      @include min-sm{
        margin-top: 50px;
        margin-left: 0;
      }
      @include max-xs{
        margin-left: 0;
      }
        .contact-address{
            display: flex;
            align-items: center;
            margin-bottom: 12px;
           
            i{
               border: 1px solid $primary_color;
               width: 40px;
               height: 40px;
               line-height: 40px;
               text-align: center;
               color: $primary_color;
               margin-right: 15px;
            }
            h4{
                font-size: 20px;
                text-transform: capitalize;
                margin-bottom: 5px;
                span{
                    display: block;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    font-style: italic;
                }
            }
            }
    }
        iframe{
            width: 100%;
            height: 300px;
            border: 0;
            vertical-align: middle;
            margin-top: 40px;
            border-top: 1px solid $gray;
           
        }
}

